<li>
  <div class="row">
    <div class="group-message">
      <div class="user"><%= message.user.email %><%= message.created_at %></div>
      <div class="body"><%= message.body %></div>
    </div>
  </div>
</li>
