<div class="col-md-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Your Groups</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @active_groups.each do |group| %>
          <li><%= link_to group.topic, '', remote: true, method: :post %></li>
        <% end %>
      </ul>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Other Groups</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @inactive_groups.each do |group| %>
          <li><%= link_to group.topic, memberships_path(group_id: group.id), remote: true, method: :post %></li>
        <% end %>
      </ul>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Users</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @users.each do |user| %>
          <li><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
