<div class="row">
<%= render partial: 'left_nav' %>
  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |convo| %>
        <%= render 'conversations/conversation', conversation: convo, user: @current_user %>
      <% end %>
    </ul>
    <ul id="groups-list">
      <% @active_groups.each do |group| %>
        <%= render 'groups/group', group: group, user: @current_user %>
      <% end %>
    </ul>
  </div>
</div>
