<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Groups</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @groups.each do |group| %>
            <li><%= link_to group.topic, memberships_path(group_id: group.id), remote: true, method: :post %></li>
          <% end %>
        </ul>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @users.each do |user| %>
            <li><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |convo| %>
        <%= render 'conversations/conversation', conversation: convo, user: @current_user %>
      <% end %>
    </ul>
    <ul id="groups-list">
      <% @active_groups.each do |group| %>
        <%= render 'groups/group', group: group, user: @current_user %>
      <% end %>
    </ul>
  </div>
</div>
